@font-face {
  font-family: 'Mantinia';
  src: url('mantinia.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Optimus';
  src: url('optimus.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OptimusSemiBold';
  src: url('optimusSemiBold.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}